.form{

    background-color: rgb(37, 37, 37);
    padding: 20px;
    width: 500px;
    position: relative;
    left: 400px;
    bottom: 30px;
    height: 564px;
    border-radius: 40px;

}
.form_login{

    background-color: rgb(37, 37, 37);
    
    width: 500px;
    position: relative;
    left: 400px;
    bottom: 30px;
    height: 274px;
    border-radius: 40px;

}
.login_txt{

    color: #00a950;
}
body{

    background-color: rgb(0, 0, 0);
}

.scnd{

position: relative;
bottom: 20px;

}
.login_input{

    background-color: rgb(255, 255, 255);
    border: none;
    border: solid 1px;

    padding: 2px;
    border-radius: 3px;
    width: 50%;

}

.login_input{

    border: solid 1px;
border-color: #00a950;
background-color: #0e0e1000;
    padding-top: 4px;
    border-radius: 3px;
    width:30%;
    padding: 2px;
    color: #00a950;
}



input:hover{

    border-color: rgb(0, 89, 255);

}



 button{

 text-decoration: none;
border: none;


}
.bn311 {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    height: 40px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    left: 205px;
    bottom:19px;
    text-decoration: none;
    width: 5em;
    z-index: 2;
    font-size: 18px;
  }
  
  .bn311:hover {
    color: #fff;
  }
  
  .bn311 .bn311span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .bn311:hover .bn311span {
    background: transparent;
  }
.bn312 {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    height: 40px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    left: 173px;
    bottom:59px;
    text-decoration: none;
    width: 9em;
    z-index: 2;
    font-size: 16px;
  }
  
  .bn312:hover {
    color: #fff;
  }
  
  .bn312 .bn312span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .bn312:hover .bn312span {
    background: transparent;
  }

  @media (max-width:450px){

    .form_login{

      background-color: rgb(37, 37, 37);
      
      width: 500px;
      position: relative;
      top: 300px;
      left: 0px;
      height: 274px;
      border-radius: 40px;
  
  }

  .form{

    background-color: rgb(37, 37, 37);
    padding: 20px;
    width: 500px;
    position: relative;
    top: 200px;
    left: 0px;
    height: 564px;
    border-radius: 40px;

}
    
  }
/* button:hover{

 text-decoration: none;
border: none;
padding: 9px;
border-radius:20px ;
width: 120px;
background-color: rgba(0, 8, 255, 0.605);
color: aliceblue;

} */
