


input{

    border: solid 1px;
border-color: #00a950;
background-color: #0e0e1000;
    padding-top: 4px;
    border-radius: 3px;
    width: 60%;
    padding: 2px;
    color: #00a950;
}



input:hover{

border-color: #00a84f;

}
.signup_txt{

    color:  #00a84f;
}


.bn31 {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    height: 45px;
    font-size: 1.1em;
    padding: 4px;
    position: relative;
    left: 180px;
    
    text-decoration: none;
    width:6em;
    z-index: 2;
  }
  
  .bn31:hover {
    color: #fff;
  }
  
  .bn31 .bn31span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .bn31:hover .bn31span {
    background: transparent;
  }