.userdata{
    

background-color: rgb(37, 37, 37);
width: 55%;
margin-left: 300px;
margin-top: 40px;
padding: 30px;
border-radius: 20px;
text-align: start;
font-family: Poppins, sans-serif;
font-size: medium;
color: #00a950;;
}

  
  .bn312_1:hover {
    color: #fff;
  }
  
  .bn312_1 .bn312_1span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .bn312_1:hover .bn312_1span {
    background: transparent;
  }
.bn312_1 {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    height: 40px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    left: 573px;
    bottom:59px;
    text-decoration: none;
    width: 9em;
    z-index: 2;
    font-size: 16px;
  }
  
  .bn312_1:hover {
    color: #fff;
  }
  
  .bn312_1 .bn312_1span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .bn312_1:hover .bn312_1span {
    background: transparent;
  }




.userinfo__txt{


    color: #00a84f;
}





@media (max-width:450px){

    .userdata{
    

        background-color: rgb(37, 37, 37);
        width: 125%;
        margin-left: 0px;
        margin-top: 40px;
        padding: 30px;
        border-radius: 20px;
        text-align: start;
        font-family: Poppins, sans-serif;
        font-size: medium;
        color: #00a950;;
        }

        .bn312_1 {
            background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
            border-radius: 40px;
            box-sizing: border-box;
            color: #00a84f;
            display: block;
            height: 40px;
            font-size: 1.4em;
            padding: 4px;
            position: relative;
            left: 193px;
            bottom:59px;
            text-decoration: none;
            width: 9em;
            z-index: 2;
            font-size: 16px;
          }
        

    
  }